/* color variables*/
:root {
  --main-bg-color: #1d1d1d;
  --container-color: #101010;
  --main-color: #6fb1b5;
  --link-color: #b72035;
  --header-color: #d7d061;
  --accent-color: #e2e2e2;
}

/* no left/right border for xs screen sizes*/
@media only screen and (max-width: 700px) {
  .flexbox {
    border-width: 4px 0px 4px 0px !important;
    border-style: solid;
    border-color: var(--main-color);
  }
}

@media only screen and (max-width: 766px) {
  #position {
    position: relative;
    top: -12px;
  }
}

/*background image*/
body {
  background-image: url("../images/background.png");
  background-repeat: repeat;
}

/* links */
a {
  color: var(--link-color) !important;
}

a:hover {
  color: var(--header-color) !important;
  transform: scale(1.2) !important;
  text-decoration: none;
}

/* text */
.about-me-text {
  color: var(--accent-color);
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
  line-height: 25px;
  text-align: justify;
  margin: 2px;
}

.portfolio-text {
  color: var(--accent-color);
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  margin: 2px;
}

/* main headers*/
h1 {
  color: var(--header-color);
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

/* portfolio captions*/
.portfolio-link {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  text-align: center;
  /* transform: scale(1); */
  margin-top: 10px;
}

p a:hover {
  color: var(--header-color) !important;
  transform: scale(1.1);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 10px;
}

/*divder line*/
hr {
  border: solid 1px;
  border-color: var(--link-color);
  background-color: var(--link-color);
}

/* main container positioning*/
main {
  position: relative;
  top: 40px;
  margin-bottom: 100px;
}

/*controls navbar bg and main container bg*/
.bg-dark {
  background-color: var(--container-color) !important;
}

/*separator for nav links*/
.border-left {
  border-color: var(--header-color) !important;
  position: relative;
  top: 10px;
  margin-right: 10px;
}

/* card backgroud is same as container */
.card {
  background-color: var(--container-color);
  width: 18rem;
}

/*portfolio images*/
.card img {
  max-width: 400px;
  height: 180px;
}

/* border on footer*/
.card-footer {
  border-top: solid 2px;
  border-color: var(--main-color);
}

/* main box */
.flexbox {
  background-color: var(--container-color) !important;
  border-color: var(--main-color);
  border-style: solid;
  border-width: 4px;
}

/* font awesome color styling */
.icon {
  color: var(--accent-color) !important;
}

/* contact items have background color the same as container */
.list-group-item {
  background-color: var(--container-color);
}

/* contact item headers */
.list-group-item b {
  color: var(--header-color) !important;
}

.navbar {
  height: 75px !important;
  font-family: "Poppins", sans-serif;
  border-bottom: solid 2px;
  border-color: var(--main-color);
}

/*brand (name) is link and doesn't change on hover*/
.navbar-brand,
.navbar-brand:hover {
  color: var(--header-color) !important;
  font-size: 2.5em;
  transform: scale(1) !important;
}

/* footer text */
.text-white {
  color: var(--accent-color) !important;
}

/*Image in About Me size*/
#AboutMeImg {
  width: 55%;
  height: auto;
}

/*"Hi, I'm Darian!" text in About Me*/
#greeting {
  font-weight: bolder;
  font-size: 1.2em;
  color: var(--accent-color);
  font-family: "Kalam";
  color: var(--header-color);
  text-align: center;
  padding-bottom: 2px;
}

nav {
  min-height: 100px;
}
